# MONGODB
MONGO_CONTAINER_NAME=x_database
MONGO_HOST=database
MONGO_PORT=27017

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_ROOT_DATABASE=admin

MONGO_MAIN_DATABASE=main
MONGO_MAIN_USERNAME=main
MONGO_MAIN_PASSWORD=491pass
